.main{
    min-width: 375px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: hsl(220, 21%, 16%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.container{
    width: 100%;
    min-width: 355px;
    max-width: 500px;
    position: relative;
}

.card-shadow{
    box-shadow: #00000005 40px 40px 20px 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card-shadow:after, .card-shadow:before{
    content: "";
    position: absolute;
    width: calc(100% + 60px);
    height: calc(100% + 20px);
    top: 0;
    left: 0;
    background-color: #00000004;
    border-radius: 0 50px 30px 100px;
    transform: translate(0%, 10%);
}

.card-shadow:before{
    width: 100%;
    height: 100%;
    background-color: #00000009;
    border-radius: 10px 50px 20px 50px;
    transform: translate(20px, 20px);
}

.card{
    background-color: hsl( 217, 19%, 23%);
    border-radius: 15px;
    text-align: center;
    padding: 3em;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    margin-top: 5em;
}

.card .h2{
    color: hsl(150, 100%, 66%);
    font-size: 11px;
    transform: translateZ(40px);
    border-radius: 10px;
    transition: background-color .6s ease-out, color .6s ease-out;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: sans-serif;

}
.card.loading .h2{
    background-color: hsl(150, 100%, 66%);
    pointer-events: none;
    user-select: none;
}
.card.error .h2{
    color: hsl(0, 100%, 66%);
    pointer-events: none;
    user-select: none;
}

.card .p{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    transform: translateZ(40px);
    border-radius: 10px;
    transition: background-color .6s ease-out, color .6s ease-out;
    min-height: 6em;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card.loading .p{
    background-color: hsl(193, 38%, 86%);
    pointer-events: none;
    user-select: none;
}
.card.error .p{
    color: hsl(0, 38%, 86%);
    pointer-events: none;
    user-select: none;
}

.bg{
    height: 30px;
    width: 100%;
    background-image: url(../images/pattern-divider-mobile.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    position: absolute;
    bottom: 4em;
    left: 0;
    transform: translateZ(40px);
}

.card .button{
    background-color: hsl(150, 100%, 66%);
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow .3s ease;
    transform: translateY(4.5em) translateZ(40px);
}
.card.loading .button{
    pointer-events: none;
}
.card.error .button{
    background-color: hsl(0, 100%, 66%);
}

.card .button:hover{
    box-shadow: hsla(150, 100%, 66%, 0.1) 0 0 20px 20px, hsla(150, 100%, 66%, 0.1) 0 0 10px 10px;
}
.card.error .button:hover{
    box-shadow: hsla(0, 100%, 66%, 0.1) 0 0 20px 20px, hsla(0, 100%, 66%, 0.1) 0 0 10px 10px;
}

.card .button img{
    display: block;
    width: 1.2em;
    padding: 1em;
}

@media screen and (min-width:720px) {
    .bg{
        background-image: url(../images/pattern-divider-desktop.svg);
    }
}